body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:aquamarine;
    font-size: large;
  }
  
  div {
    margin: 50px auto;
    max-width: 500px;

  }
  .ha {
    width: 650px;
    padding: 50px;
    border: 5px solid gray;
    margin: 0;
    margin-left: -40px;
    margin-bottom: -30px;
    height: 370px;
    
    background-color:darkseagreen;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    display: block;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  select {
    display: block;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 20px;
    
    width: 105%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }